{% extends "core/base.html" %}
{% load staticfiles %}


{% block nav_content %}

<nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="{% static 'images/ckgp-headerlogo-165wOpacityCircle.png' %}"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
          <li><a href="{% url 'auth_login' %}">Log In</a></li>
        {% endif %}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars" aria-hidden="true">menu</i></a>
    </div>
</nav>

{% endblock nav_content %}

{% block content %}

<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="card-panel">
            <span class="teal-text">
                <p class='text-align-center lead'>You have successfully logged out.</p><p class='text-align-center lead'><a href="{% url 'auth_login' %}">Login</a></p></p>
            </span>
        </div>
    </div>
</div>
{% endblock %}