{% extends "core/base.html" %}
{% load staticfiles %}

{% block nav_content %}

<nav class="light-blue accent-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="{% static 'images/ckgp-headerlogo-165wOpacityCircle.png' %}"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
          <li><a href="{% url 'auth_login' %}">Log In</a></li>
        {% endif %}

      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars" aria-hidden="true">menu</i></a>
    </div>
</nav>

{% endblock nav_content %}

{% block content %}

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel">
            <span class="teal-text">

                <h3>Register:</h3>
                <form method="post" action=".">
                  {% csrf_token %}
                  {{ form }}
                <p>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
                </button>
                </form>

                <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>

            </span>
        </div>
    </div>
</div>
{% endblock %}