{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% block styles %}
        <!-- Latest compiled and minified CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    {% endblock styles %}

    {% block head_scripts %}
        
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    {% endblock head_scripts %}
</head>
<body>

  {% block nav_content %}

  

  {% endblock nav_content %}
  
  {% block content %}
      
  {% endblock content %}

  {% block footer_content %}
  {% endblock footer_content %}

  {% block body_scripts %}
      
  {% endblock body_scripts %}
</body>
</html>