<page-header></page-header>

<div class="container">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <form ng-submit="checkinCtrl.saveCheckin(checkinCtrl.editedCheckin)">
                        Race:
                        <input ng-model="checkinCtrl.editedCheckin.race"></input><br>
                        Bib #:
                        <input ng-model="checkinCtrl.editedCheckin.checkin_bib"></input><br>
                        First Name:
                        <input ng-model="checkinCtrl.editedCheckin.firstname"></input><br>
                        Last Name:
                        <input ng-model="checkinCtrl.editedCheckin.lastname"></input><br>
                        <button class="btn btn-primary">Check In</button>
                    </form>
                </div> <!-- End Card Content -->
            </div> <!-- End Card -->
        </div> <!-- End Col 1 -->

        <div class="col s8"> <!-- Start Col 2 -->
            <div class="card-panel white">
                <h6>Search for results..</h6>
                <input ng-model="raceResultsCtrl.runner_search"></input>
                <table class="highlight">
                  <tr>
                    <td>Race</td>
                    <td>Bib</td>
                    <td>Name</td>
                    <td>Score</td>
                    <td>CheckIn Date</td>
                  </tr>
                  <tr ng-repeat="runner in checkinCtrl.checkins | filter : raceResultsCtrl.runner_search">
                    <td>{{runner.race}}</td>
                    <td>{{runner.checkin_bib}}</td>
                    <td>{{runner.firstname}} {{runner.lastname}}</td>
                    <td>{{runner.score}}</td>
                    <td>{{runner.checkin_date | date:MM/dd/yyy}}</td>
                  </tr>
                </table>
            </div>
        </div> <!-- End Col 2 -->
    </div> <!-- End Row 1 -->
</div> <!-- End Container -->

 <page-footer></page-footer>

