<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal">
                <div class="white-text right-align"><h5>Check In your bib number to be scored...</h5></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <form ng-submit="checkinCtrl.saveCheckin(checkinCtrl.editedCheckin)">
                        Race:
                        <select ng-model="checkinCtrl.editedCheckin.race" material-select>
                            <option ng-repeat="race in checkinCtrl.races" value="{{race.id}}">{{race.name}}</option>
                        <!-- <option ng-repeat="race in checkinCtrl.array" value="{{race}}">{{race}}</option> -->
                        </select>
                        <!-- Race 2:
                        <input ng-model="checkinCtrl.editedCheckin.race"></input><br> -->
                        Bib #:
                        <input ng-model="checkinCtrl.editedCheckin.checkin_bib"></input><br>
                        First Name:
                        <input ng-model="checkinCtrl.editedCheckin.firstname"></input><br>
                        Last Name:
                        <input ng-model="checkinCtrl.editedCheckin.lastname"></input><br>
                        <button class="btn btn-primary">Check In</button>
                    </form>
                </div> <!-- End Card Content -->
            </div> <!-- End Card -->
        </div> <!-- End Col 1 -->

        <div class="col s12 m8"> <!-- Start Col 2 -->
            <div class="card-panel white">
                <h6>Search for runners who have checked in..</h6>
                <input ng-model="checkinCtrl.runner_search"></input>
                <table class="highlight">
                  <tr>
                    <td>Race</td>
                    <td>Bib</td>
                    <td>Name</td>
                    <td>Score</td>
                    <td>CheckIn Date</td>
                  </tr>
                  <tr ng-repeat="runner in checkinCtrl.checkins | orderBy : '-checkin_date' | filter : checkinCtrl.runner_search">
                    <td>{{checkinCtrl.getRaceName(runner.race)}}</td>
                    <td>{{runner.checkin_bib}}</td>
                    <td>{{runner.firstname}} {{runner.lastname}}</td>
                    <td>{{runner.score}}</td>
                    <td>{{runner.checkin_date | date:MM/dd/yyy}}</td>
                  </tr>
                </table>
            </div>
        </div> <!-- End Col 2 -->
    </div> <!-- End Row 1 -->
</div> <!-- End Container -->